## ignore all files w/o extension
# commented since it prevents to add directories
#*
#!*/
#!*.*
#!Makefile

coursera/hw1_tree/main
json-example/json-example
urfave-cli/keyvalue/keyvalue

*.swp
.idea
